---
// src/components/SiteNavigation.astro
import { themeConfig } from '~/.config'

const { navLinks, socialLinks } = themeConfig.site
const { translate: t } = Astro.locals

type NavLink = { href: string; name: string };
type SocialLink = { href: string; name: string };

// 助手函数：确保链接以斜杠结尾（除非是外部链接或具体文件）
const ensureTrailingSlash = (href: string) => {
  if (href.startsWith('http') || href.includes('.') || href.endsWith('/')) return href;
  return `${href}/`;
}
---

<nav class="text-center font-bold" flex="~ col gap-4">
  <ul lg="flex-col items-start text-4" class="text-3.5" flex="~ row gap-2 justify-center">
    {
      navLinks.map((nav: NavLink) => (
        <li>
          <a class="hover:text-primary transition-colors" href={ensureTrailingSlash(nav.href)}>
            {t(nav.name)}
          </a>
        </li>
      ))
    }
  </ul>
  <ul flex="~ row gap-1 justify-center">
    {
      socialLinks.map(({ href, name }: SocialLink) => (
        <li>
          <a href={href} target="_blank" title={name} class="not-underline-hover inline-flex items-center">
            <span class:list={[`i-mdi-${name}`, 'w-6 h-6']}>{name}</span>
          </a>
        </li>
      ))
    }
  </ul>
</nav>